.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: 20%;
}

.btn-main {
    padding: 10%;
    margin: 10px;
    font-size: 100%;
    border: #C0C0C0 1px solid;
}

.btn-main:hover {
    border: black 1px solid;
}

.admin-btn {
    font-size: 70%;
    margin-top: 10px;
}

.admin-container {
    float: right;
}

.incorrect {
    color: red;
}

@media only screen and (max-width: 1023px) {

    .btn-container {
        flex-direction: column;
        justify-content: center;
    }

}