body {
    background-image: url("/background.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.container {
    margin: 3%;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: grey solid 2px;
}

footer {
    border-top: grey solid 2px;
}

.admin_page {
    display: flex;
    justify-content: space-evenly;
}

th, td {
    padding: 15px;
    text-align: center;
}

